/* layout */
#wrap {width: 100%;}
#header{width: 100%; height: 95px;}
#banner {width: 100%; height: 569px; overflow: hidden; background-color: #222;}
#contents {width: 100%; height: 2000px; background-color: #333;}
#footer {width: 100%; height: 300px; background-color: #444;}

/* container */
.container {width: 1020px; margin: 0 auto; height: inherit; /* background: rgba(0,0,0,0.2); */}

/* contents layout */
#contents1 {width: 100%; height: 400px; background-color: #e1bee7;}
#contents2 {width: 100%; height: 400px; background-color: #ce93d8;}
#contents3 {width: 100%; height: 400px; background-color: #ba68c8;}
#contents4 {width: 100%; height: 400px; background-color: #ab47bc;}
#contents5 {width: 100%; height: 400px; background-color: #9c27b0;}

/* header */
.header {overflow: hidden;}
.header h1{float: left; width: 200px; margin-top: 17px;}
.header .nav {float: left; width: 600px; margin-top: 40px;}
.header .nav li {display: inline; padding: 0 24px;}
.header .nav li a {font-size: 15px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.025em;}
.header .nav_icon {float: right; margin-top: 30px;}
.header .nav_icon li {float: left; width: 47px; text-align: center; margin-left: 10px;}
.header .nav_icon li a {color: #767676; display: block;}
.header .nav_icon li a i {font-size: 20px;}
.header .nav_icon li a:hover {color: #ea5d4b;}
.header .nav_icon li a:hover i {color: #ea5d4b;}
.header .nav_icon li span {display: block;}

/* banner */
#banner {position: relative;}
#banner .banner_icon {position: absolute; left: 0; bottom: 0; width: 100%; height: 67px; background-color: #970000;}
#banner .banner_icon ul {overflow: hidden;}
#banner .banner_icon ul li {float: left; width: 25%; text-align: center; padding-top: 10px;} 
#banner .banner_icon ul li a {color: #fff;}
#banner .banner_icon ul li a i {font-size: 20px;}
#banner .banner_icon ul li span {display: block;}