/* layout */
#wrap {width: 100%;}
#header{width: 100%; height: 95px;}
#banner {width: 100%; height: 569px; overflow: hidden;}
#contents {}
#footer {width: 100%; height: 300px; background-color: #444;}

/* container */
.container {width: 1020px; margin: 0 auto; height: inherit; /* background: rgba(0,0,0,0.2); */}

/* contents layout */
#contents2 {background-color: #f9f7f7;;}
#contents3 {width: 100%; height: 400px; background-color: #9c27b0;}
#contents4 {width: 100%; height: 400px; background-color: #ab47bc;}
#contents5 {width: 100%; height: 400px; background-color: #9c27b0;}

/* header */
.header {overflow: hidden;}
.header h1{float: left; width: 200px; margin-top: 17px;}
.header .nav {float: left; width: 600px; margin-top: 40px;}
.header .nav li {display: inline; padding: 0 24px;}
.header .nav li a {font-size: 15px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.025em;}
.header .nav_icon {float: right; margin-top: 30px;}
.header .nav_icon li {float: left; width: 47px; text-align: center; margin-left: 10px;}
.header .nav_icon li a {color: #767676; display: block;}
.header .nav_icon li a i {font-size: 20px;}
.header .nav_icon li a:hover {color: #ea5d4b;}
.header .nav_icon li a:hover i {color: #ea5d4b;}
.header .nav_icon li span {display: block;}

/* banner */
#banner {position: relative;}
#banner .banner_icon {position: absolute; left: 0; bottom: 0; width: 100%; height: 67px; background-color: #970000;}
#banner .banner_icon ul {overflow: hidden;}
#banner .banner_icon ul li {float: left; width: 25%; text-align: center; padding-top: 10px;} 
#banner .banner_icon ul li a {color: #fff;}
#banner .banner_icon ul li a i {font-size: 20px;}
#banner .banner_icon ul li span {display: block;}

/* investor */
.investor {text-align: center; padding: 60px 0 70px;}
.investor h2 {font-size: 26px;}
.investor p {color: #666; margin-top: 21px; padding-bottom: 36px;}

.investor .investor_box {overflow: hidden; border-top: 1px solid #eaeaea;}
.investor .investor_box .ileft {float: left; width: 400px; height: 300px; padding-top: 30px;}
.investor .investor_box .iright {float: left; width: 619px; height: 300px; border-left: 1px solid #eaeaea;}
.investor .investor_box .iright ul {overflow: hidden;}
.investor .investor_box .iright li {float: left; width: 33.333333%; margin-top: 45px;}

.investor .investor_box .iright li a:hover {color: #555;}
.investor .investor_box .iright li a i {font-size: 30px; background-color: #f3f3f3; padding: 10px; border-radius: 50%; width: 40px; height: 40px; line-height: 40px; color: #ec7768;}
.investor .investor_box .iright li a span {display: block; font-size: 14px; color: #555; padding-top: 15px;}

/* Corporate */
.corporate {text-align: center; padding: 60px 0 70px;}
.corporate h2 {font-size: 26px;}
.corporate p {color: #666; margin-top: 20px 0 36px;}

.corporate_box {border-top: 1px solid #e6e6e6; padding-top: 37px;}
.corporate_box ul {overflow: hidden;}
.corporate_box li {float: left; position: relative; width: 240px; height: 60px; padding: 0 50px; background-color: #ccc;}

.corporate_box li a {}
.corporate_box li a i {font-size: 30px; position: absolute; left: 0; top: 0; width: 40px; height: 40px; background-color: #000;}
.corporate_box li a strong {}
.corporate_box li a span {}